<nav class="w-100 d-flex gap-3 p-3">
  Legacy App
  <a routerLinkActive="active" routerLink="/client-list">Clients</a>
  <a routerLinkActive="active" routerLink="/client-upsert">Add Client</a>
  |
  <a routerLinkActive="active" routerLink="/product-list">Products</a>
  <a routerLinkActive="active" routerLink="/product-upsert">Add Product</a>
  |
  <a routerLinkActive="active" routerLink="/sale-list">Sales</a>
  <a routerLinkActive="active" routerLink="/sale-upsert">Add Sale</a>
</nav>

<router-outlet></router-outlet>
